$primary-color: #FF9F24;
$secondary-color: #ffbd24;

$background-color: #fafafa;
$card-background-color: #fff;

$highlight-color: #646464;
$text-color: #323232;
$list-color: #969696;
$border-color: #ddd;
